<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {{- if .SetupMessage }}
    <meta name="setupmessage" content="{{ .SetupMessage }}">
    {{- end }}
    {{- if .LoginMessage }}
    <meta name="loginmessage" content="{{ .LoginMessage }}">
    {{- end }}
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.ico">
    {{- if .EmbeddedHTML }}
    {{ .EmbeddedHTML }}
    {{- end }}
    <title>FlatTrack</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
